<p>WELCOME</p>
<div class="outerDiv">
<!-- <div style="display: flex; justify-content: flex-end"> -->
    <div class="leftDiv">
        <vg-player  vg-responsive="true" >
                <!-- vg-width="50%" vg-height="50%" -->
            <!-- <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
            <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
            
                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            
                <vg-track-selector></vg-track-selector>
                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
            
                <vg-fullscreen></vg-fullscreen>
            </vg-controls> -->
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" [src]=currentPlaying controls>
                <!-- <source *ngIf="currentPlaying && currentPlaying!=null" src="{{currentPlaying}}"> -->
            </video>
        </vg-player>
    </div>
    

    <div class="rightDiv">
        <mat-spinner *ngIf="resources.length === 0"></mat-spinner>
    
        <mat-card *ngFor="let product of resources" style="margin-top:10px;">
            <!-- <mat-card-header>
                <mat-card-title>{{product}}</mat-card-title>
            </mat-card-header> -->

            <mat-card-actions>
          <button mat-button (click)="fetchResource(product)"> {{product}}</button>
        </mat-card-actions>
        </mat-card>
    </div>

</div>